* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: rgb(51, 48, 48);
  overflow-x: hidden;
}

/* ----------------- COLORS ----------------- */

:root {
  --section-background: black;
  --primary-color: #590aa8;
  --main-text-color: #e7e3e3;
}

/* ----------------- HEADER ----------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--section-background);
  height: 10rem;
  padding: 0 4.8rem;
  -webkit-box-shadow: inset -3px -32px 100px -30px rgba(62, 7, 118, 1);
  -moz-box-shadow: inset -3px -32px 100px -30px rgba(62, 7, 118, 1);
  box-shadow: inset -3px -32px 100px -30px rgba(62, 7, 118, 1);
  position: relative;
}

.logo {
  height: 8rem;
  border-radius: 4rem;
}

/* ----------------- NAVBAR ----------------- */

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  height: 6rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #3e0776;
}

.nav-contact:link,
.nav-contact:visited {
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
  padding: 1.1rem 1.6rem;
}

.nav-contact:hover,
.nav-contact:active {
  background-color: #3e0776;
  color: #d3d0d3;
}

/* ----------------- MOBILE NAV ----------------- */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  font-size: 3rem;
  color: var(--main-text-color);
}

.icon-mobile-nav[name="close-outline"] {
  /* display: none; */
  opacity: 0;
}

/* ----------------- STICKY NAVIGATION ----------------- */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000dc;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
}

.sticky .section-prime {
  margin-top: 10rem;
}

/* ----------------- PRIME SCETION ----------------- */

.section-prime {
  background-color: var(--section-background);
  padding: 5rem 0 10rem 0;
  /* -webkit-box-shadow: 0px 0px 100px -16px rgba(62, 7, 118, 1);
  -moz-box-shadow: 0px 0px 100px -16px rgba(62, 7, 118, 1);
  box-shadow: 0px 0px 100px -16px rgba(62, 7, 118, 1); */
  -webkit-box-shadow: inset 0px 8px 100px -26px rgba(62, 7, 118, 1);
  -moz-box-shadow: inset 0px 8px 100px -26px rgba(62, 7, 118, 1);
  box-shadow: inset 0px 8px 100px -26px rgba(62, 7, 118, 1);
}

.prime {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 70vh;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--main-text-color);
  margin-bottom: 3.2rem;
}

.prime-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.name-text {
  display: inline-block;
  margin-right: 1.5rem;
  background-color: #7a3bb9;
  border-radius: 2rem;
  padding: 0.6rem;
}

.prime-img {
  width: 100%;
  border-radius: 1000px;
}

.social-media-container {
  display: flex;
  gap: 4rem;
  margin-top: 6rem;
  height: 6rem;
  align-items: center;
  /* justify-content: center; */
}

.social-media-icon {
  font-size: 5rem;
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.social-media-icon:hover,
.social-media-icon:active {
  font-size: 6rem;
}

/* ----------------- ABOUT ME SECTION ----------------- */

.about-me-section {
  padding: 5rem 0;
}

.about-me-img {
  height: 50rem;
  border-radius: 10rem;
  opacity: 1;
}

.heading-secondary-about-me {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-decoration: dotted underline overline 1rem #9e81bb;
  margin-top: 2.2rem;
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 2s, opacity 3s ease, transform 1s ease;
}

.download-cv-btn {
  margin-top: 2rem;
  font-size: 2rem;
  align-self: start;
}

/* ----------------- MY STACK SECTION ----------------- */

.section-my-stack {
  padding: 5rem 0;
}

.stack-title {
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--main-text-color);
}

.logos {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* .logo:link,
.logo:visited {
  width: 20rem;
  text-align: center;
  font-size: 10rem;
  transition: all 0.2s ease;
  text-shadow: 0px 0px 28px rgba(62, 7, 118, 1);
} */

.logo {
  width: 20rem;
  text-align: center;
  font-size: 10rem;
  transition: all 0.2s ease;
  text-shadow: 0px 0px 28px rgba(62, 7, 118, 1);
  cursor: pointer;
}

.logo:hover {
  font-size: 12rem;
  text-shadow: 0px 0px 50px rgba(62, 7, 118, 1);
}
/* .logo:hover,
.logo:active {
  font-size: 12rem;
  text-shadow: 0px 0px 50px rgba(62, 7, 118, 1);
} */

.pop-up {
  background-color: var(--primary-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  width: 50rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  text-align: justify;
}

.pop-up-top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.close-btn {
  font-size: 2rem;
  cursor: pointer;
}

.close-btn:hover {
  color: #454444;
}

.close-btn:active {
  color: #383838;
}

.heading-primary.pop-up-title {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.pop-up-description {
  font-size: 2rem;
  padding: 0 2rem 2rem 2rem;
}

.pop-up.open {
  z-index: 999;
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* ----------------- COURSES SECTION ----------------- */

.courses-section {
  padding: 9.6rem 0;
  transition: all 2s ease;
}

.course-card {
  border-radius: 4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.4s, opacity 1s ease, transform 1s ease;
}

.course-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.course-img {
  width: 100%;
  height: 40rem;
}

.course-content-container {
  padding: 2rem;
  text-align: center;
}

.course-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
  color: #7a3bb9;
}

.course-description {
  font-size: 2rem;
  line-height: 1.4;
  /* text-align: start; */
}

/* ----------------- MY PROJECTS SCETION ----------------- */

.section-my-projects {
  padding: 10rem 0;
}

.project-img {
  width: 80%;
  border-radius: 1rem;
  transition: all 2s, opacity 3s ease, transform 1s ease;
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-secondary {
  font-weight: 700;
  color: var(--main-text-color);
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-size: 4.4rem;
  margin-bottom: 9.5rem;
}

.subheading {
  display: block;
  font-size: 3.5rem;
  font-weight: 500;
  color: #7a3bb9;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.project-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #9e81bb;
  margin-bottom: 1.2rem;
}

.heading-project-title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.project-description {
  font-size: 2rem;
  line-height: 1.2;
}

.ref-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
  padding: 3rem;
}

.ref:link,
.ref:visited {
  font-size: 2.4rem;
  color: var(--main-text-color);
  transition: all 0.2s ease;
  height: 5rem;
  width: 20rem;
  text-shadow: 0px 0px 28px rgba(62, 7, 118, 1);
}

.ref:hover,
.ref:active {
  font-size: 3rem;
  text-shadow: 0px 0px 50px rgba(62, 7, 118, 1);
}

/* ----------------- CONTACCT ME SECTION ----------------- */

.contact-me-section {
  padding: 9.6rem 0;
}

.message-icon {
  font-size: 2.4rem;
  color: #7a3bb9;
  transform: translateY(-2.3rem) translateX(-0.6rem) rotate(30deg);
}

.cotnact-me-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgba(62, 7, 118, 1);
  background-image: linear-gradient(
    118deg,
    rgba(62, 7, 118, 1) 25%,
    rgba(122, 59, 185, 1) 77%
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  transform: scale(1);
  transition: all 1s ease;
}

.contact-me-text-container {
  grid-template-rows: 0.5fr 2fr;
  row-gap: 1rem;
  font-size: 2rem;
  padding: 3.4rem 2rem;
}

.contact-me-img-container {
  background-image: linear-gradient(
      to right bottom,
      rgba(62, 7, 118, 0.35),
      rgba(122, 59, 185, 0.35)
    ),
    url("/resources/images/prof.jpg");
  background-size: cover;
  background-position: center;
}

.heading-contact-me {
  padding: 1rem;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
}

.contact-me-form {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-row-gap: 1rem;
}

.contact-me-form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.contact-me-form div:last-child {
  flex-direction: column;

  background-color: green;
}

.contact-me-form label {
  display: block;
  font-size: 2.2rem;
  text-align: center;
}

.contact-me-form input {
  display: block;
  background-color: rgba(0, 0, 1, 0.5);
  padding: 0.8rem;
  border-radius: 6px;
  color: var(--main-text-color);
}

#message {
  height: 80%;
  width: 80%;
  background-color: rgba(0, 0, 1, 0.5);
  text-align: start;
  color: var(--main-text-color);
  text-wrap: wrap;
  border-radius: 6px;
  padding: 2rem;
}

/* ----------------- FOOTER ----------------- */

.footer {
  border-top: solid 1px grey;
  padding: 4rem 0 2rem 0;
}

.social-media-container-footer {
  display: flex;
  gap: 2rem;
}

.social-media-icon-footer {
  color: var(--main-text-color);
  font-size: 4rem;
}

.footer-logo {
  width: 12rem;
  border-radius: 20px;
}

.copyright-text {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}
