* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: rgb(51, 48, 48);
}

/* ----------------- COLORS ----------------- */

:root {
  --section-background: black;
  --primary-color: #590aa8;
  --main-text-color: #e7e3e3;
}

/* ----------------- HEADER ----------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--section-background);
  height: 12rem;
  padding: 0 4.8rem;
}

.logo {
  height: 12rem;
  border-radius: 4rem;
}

/* ----------------- NAVBAR ----------------- */

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  height: 6rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #3e0776;
}

.nav-contact:link,
.nav-contact:visited {
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
  padding: 1.1rem 1.6rem;
}

.nav-contact:hover,
.nav-contact:active {
  background-color: #3e0776;
  color: #d3d0d3;
}

/* ----------------- PRIME SCETION ----------------- */

.section-prime {
  background-color: var(--section-background);
  padding: 5rem 0 10rem 0;
}

.prime {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 70vh;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--main-text-color);
  margin-bottom: 3.2rem;
}

.prime-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.name-text {
  display: inline-block;
  margin-right: 1.5rem;
  background-color: #7a3bb9;
  border-radius: 2rem;
  padding: 0.6rem;
}

.prime-img {
  width: 100%;
  border-radius: 1000px;
}

.social-media-container {
  display: flex;
  gap: 4rem;
  margin-top: 6rem;
  height: 6rem;
  align-items: center;
  /* justify-content: center; */
}

.social-media-icon {
  font-size: 5rem;
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.social-media-icon:hover,
.social-media-icon:active {
  font-size: 6rem;
}

/* ----------------- ABOUT ME SECTION ----------------- */

.about-me-section {
  padding: 5rem 0;
}

.about-me-img {
  height: 50rem;
  border-radius: 10rem;
}

.heading-secondary-about-me {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-decoration: dotted underline overline 1rem #9e81bb;
  margin-top: 2.2rem;
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----------------- MY STACK SECTION ----------------- */

.section-my-stack {
  padding: 5rem 0;
}

.stack-title {
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--main-text-color);
}

.logos {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.logo:link,
.logo:visited {
  width: 20rem;
  text-align: center;
  font-size: 10rem;
  transition: all 0.2s ease;
  text-shadow: 0px 0px 28px rgba(62, 7, 118, 1);
}

.logo:hover,
.logo:active {
  font-size: 12rem;
  text-shadow: 0px 0px 50px rgba(62, 7, 118, 1);
}

/* ----------------- MY PROJECTS SCETION ----------------- */

.section-my-projects {
  padding: 10rem 0;
}

.project-img {
  width: 80%;
  border-radius: 1rem;
}

.project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-secondary {
  font-weight: 700;
  color: var(--main-text-color);
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-size: 4.4rem;
  margin-bottom: 9.5rem;
}

.subheading {
  display: block;
  font-size: 3.5rem;
  font-weight: 500;
  color: #7a3bb9;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.project-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #9e81bb;
  margin-bottom: 1.2rem;
}

.heading-project-title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.project-description {
  font-size: 2rem;
  line-height: 1.2;
}

.ref-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
  padding: 3rem;
}

.ref:link,
.ref:visited {
  font-size: 2.4rem;
  color: var(--main-text-color);
  transition: all 0.2s ease;
  height: 5rem;
  width: 20rem;
  text-shadow: 0px 0px 28px rgba(62, 7, 118, 1);
}

.ref:hover,
.ref:active {
  font-size: 3rem;
  text-shadow: 0px 0px 50px rgba(62, 7, 118, 1);
}

.download-cv-btn {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  align-self: start;
}

/* ----------------- FOOTER ----------------- */

.footer {
  border-top: solid 1px grey;
  padding: 4rem 0 2rem 0;
}

.social-media-container-footer {
  display: flex;
  gap: 2rem;
}

.social-media-icon-footer {
  color: var(--main-text-color);
  font-size: 4rem;
}

.footer-logo {
  width: 12rem;
  border-radius: 20px;
}

.copyright-text {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}
